<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.inventory.mapper.SaleOrderMapper">

    <select id="findPage" resultType="com.example.inventory.entity.form.SaleOrder">
        select sale_order.*, staff.name stName, client.name clName
        from sale_order, staff, client
        <where>
            sale_order.st_id = staff.id and
            is_delete = 0 and
            sale_order.cl_id = client.id
            <if test="submitState != null and submitState != ''">
                and submit_state = #{submitState}
            </if>
            <if test="auditState != null and auditState != ''">
                and audit_state = #{auditState}
            </if>
            <if test="clName != null and clName != ''">
                and client.name = #{clName}
            </if>
            <if test="stName != null and stName != ''">
                and staff.name like concat('%', #{stName},'%')
            </if>
        </where>
        order by sale_order.id desc
    </select>

    <select id="getByIdWithMore" resultType="com.example.inventory.entity.form.SaleOrder">
        select sale_order.*, staff.name stName , client.name clName
        from sale_order, staff,client
        where sale_order.st_id = staff.id and
              is_delete = 0 and
              sale_order.cl_id = client.id and
              sale_order.id = #{id}
    </select>
    
</mapper>
